body {
    width: 400px;
    padding: 20px;
    border: 5px solid gray;
    border-style: inset;
    /* background-color: gray; */
}

.jumbotron {
    color: white;
    background-color: #62abe0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#showContainers {
    color: green;
}

.toggle {
    color: red;
}

a {
    cursor: pointer;
}

.badge {
    font-size: 16px;
    padding: 15px;
}

table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}