body {
  width: 400px;
  padding: 20px;
  border: 5px solid gray;
  border-style: inset;
  font-size: 14px;
  background-image: linear-gradient(rgba(50,133,192,1), rgba(158,208,244,1));
  
}


table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  vertical-align: middle;
}

td {
  vertical-align: middle;
  color: black;
}

#title {
  color: black;
  font-size: 16px;
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  border-color: whtie;
}

.primaryColor1 {
  background-color: white;
}
.secondaryColor1 {
  background-color: white;
}
.tertiaryColor1 {
  background-color: white;
}

#accountContainers{
  text-align: center;
}

#btnCopy {
  background-color: secondaryColor1;
  border-color: white;
}

#btnLink {
  background-color: secondaryColor1;
  border-color: white;
}

hr {
  border-color: #fd8626;
}